<div id="newsPage">

	<!-- TODO: temporary banner, replace -->
	<div style="
	    background-image: url(../../../../styles/img/newsroom/newsroom-banner.jpg);
	    height: 200px;
	    background-size: cover;
	    background-position-y: 69%;
	"></div>
	
	<div class="newses container">
		<div class="row margin-vert-30">
			<!-- Main Column -->
			<div class="col-md-9">
						
				<!-- Blog Post -->
	{{#if loading}}
		<br/>
		<br/>
		<h4 class="newsLoader"><i class="fa fa-spin fa-spinner"></i> Loading news...</h4>
	{{/if}}
	{{#if newses}}
		{{#if q}}
			<p class="text-info">Search for <span class="blog-tag">{{q}}</span>tag. <a href="/portal/news" data-tag=""><small>(cancel)</small></a></p>  
		{{/if}}
		
		{{#if newses.features.length}}
			{{{paginationBox totalResults pageOffset page count}}}
			{{#each newses.features}}
				{{#properties}}
						<div class="blog-post padding-bottom-20">
							<!-- Blog Item Header -->
							<div class="blog-post-date pull-left">
								<span class="day">{{ formattedDate published "DD" }}</span> <span class="month">{{ formattedDate published "MMM" }}</span> <br>
								<span class="year">{{ formattedDate published "YYYY" }}</span>
							</div>
							<div class="blog-item-header">
								<!-- Title -->
								<h2>
									<a href="/portal/newsroom/details/{{identifier}}"> {{title}}</a>
								</h2>
								<!-- End Title -->
								<!-- Blog Item Details -->
								<div class="blog-post-details">
									<!-- Author Name -->
									<div class="blog-post-details-item blog-post-details-item-left">
										<i class="fa fa-user color-gray-light"></i> {{authors.0.name}}
									</div>
									<!-- End Author Name -->
									<!-- Date -->
									<div class="blog-post-details-item blog-post-details-item-left">
										<i class="fa fa-calendar color-gray-light"></i> {{simpleDate published}}
									</div>
									<!-- End Date -->
									<!-- Tags -->
									{{#if tags.length}}
										<div
											class="blog-post-details-item blog-post-details-item-left blog-post-details-tags">
											<i class="fa fa-tag color-gray-light"></i>
											{{#each tags}}{{#if @index}}, {{/if}}
												<a href="/portal/newsroom/tag/{{.}}" data-tag="{{.}}">{{.}}</a>{{/each}}
										</div>
									{{/if}}
									<!-- End Tags -->
								</div>
								<!-- End Blog Item Details -->
							</div>
							<!-- End Blog Item Header -->
							<!-- Blog Item Body -->
							<div class="blog">
								<div class="clearfix"></div>
								<div class="blog-post-body row margin-top-15">
									{{#if imageUrl}}
										<div class="col-md-5">
											<img class="margin-bottom-20 blogImg" src="{{imageUrl}}" alt="thumb1">
										</div>
									{{/if}}
									<div class="{{#if imageUrl}}col-md-7{{else}}col-md-12{{/if}}">
										<p>{{summary}}</p>
										<!-- Read More -->
										<a href="/portal/newsroom/details/{{identifier}}" class="btn btn-primary"> Read More <i
											class="icon-chevron-right readmore-icon"></i>
										</a>
										<!-- End Read More -->
									</div>
								</div>
							</div>
							<!-- End Blog Item Body -->
						</div>
						<!-- End Blog Item -->
						<!-- Blog Post -->
				{{/properties}}
			{{/each}}
			{{{paginationBox totalResults pageOffset page count}}}
		{{else}}
			No news found.
		{{/if}}
	{{/if}}		
			
			</div>
			<!-- End Main Column -->
			<!-- Side Column -->
			<div class="col-md-3">
				<!-- Blog Tags -->
				<div class="blog-tags">
					<h3>Tags</h3>
					{{#if tags}}
						<ul class="blog-tags">
							{{#each tags}}
								<li><a href="/portal/newsroom/tag/{{Key}}" class="blog-tag" data-tag="{{Key}}">{{ Key }} <span>{{ Value }}</span></a></li>
							{{/each}}
						</ul>
					{{/if}}
				</div>
				<!-- End Blog Tags -->
			</div>
			<!-- End Side Column -->
		</div>
	</div>
</div>