


.passwordResetForm {
	max-width: 400px;
	margin: 20px auto;
}
.passwordResetForm .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.passwordResetForm label.error { /* improve */
  color: #a94442;
  font-weight: normal;
  font-size: 12px;
}