
.thematic {
	float: right;
	margin-right: 20px;
}

.thematic ul {
	margin: 0px;
}

.thematic li {
	display: inline-block;
	min-width: 80px;
	/* border: 1px solid gray; */
	height: 27px;
	border-radius: 5px;
	margin-top: 6px;
	text-align: center;
	margin-right: 6px;
	background-color: rgb(218, 235, 241);
	padding: 0px 10px;
}

.thematic li>a {
	/* color: black; */
	display: block;
	margin-top: 3px;
	/* margin-left: 3px; */
	padding: 0px;
	/* line-height: 0px; */
	font-size: 13px;
	font-weight: bold;
}

.thematic li:hover {
	cursor: pointer;
	background-color: rgb(185, 213, 223);
}


