
#featureContainer .dataPackages {
	background: rgb(214, 214, 214);
	position: absolute;
	top: 20px;
	left: 10px;
	bottom: 10px;
	right: 0px;
	z-index: 1000;
	overflow: scroll;
	display: none;
}

#featureContainer > .dataPackagesTable .items{
	font-size: 12px;
	text-align: center;
}
