<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DatabaseConnection" value="Server=localhost; Port=3306; User Id=root; Database=tepqw; Max Pool Size=200" />
    <add key="BaseUrl" value="${PORTALWEBSERVER}" />
    <add key="UserClass" value="Terradue.Security.Certification.CertificateUser, Portal.Certification" />
  </appSettings>
  <customErrors mode="Off" />
  <trace enabled="true" requestLimit="20" pageOutput="true" traceMode="SortByTime" localOnly="true" />
  <pages validateRequest="false" />
  <location path="t2api">
    <system.web>
      <httpRuntime requestValidationMode="2.0" executionTimeout="90" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
      <sessionState mode="InProc" timeout="60" cookieless="false">
      </sessionState>
      <httpHandlers>
        <add path="*" type="Terradue.TepQW.WebServer.Common.SessionHttpHandlerFactory" verb="*" />
      </httpHandlers>
    </system.web>
  </location>
  <system.web>
    <httpHandlers>
      <add path="t2api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <compilation>
      <assemblies>
        <add assembly="System.ComponentModel.Composition, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.ComponentModel.DataAnnotations, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>
