
/* Container for Sign-up area */
.signupArea {
  padding: 15px 0;
}

.benefitsArea {
    display: inline-block;
    vertical-align: middle;
    margin-top:8%;
    padding-bottom:10px;
	background-color: #EF5E29; /* #EF5E29 #7FBBDA blue as 'Cloud Services' general overview | #EF5E29 orange warm */
    border-radius: 10px;
    color: white;
    transition-property: all;  /* all, font-size, opacity, left, top, height */
    transition-duration: 2s;
    transition-timing-function: ease-out;
    /* transition-delay: 1s; */
}

.benefitsList li {
	list-style-type: none; 
	font-size:16px;
	padding-top:10px
}


.signupPage .userLogged {
	margin-top: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.signupPage .signupForm {
	margin-left: 0px;
	margin-righ: 0px;
	margin-top: 20px;
	margin-bottom: 20px;
}

.signupPage form {
	max-width: 400px;
	margin-left: 0px;
	margin-right: 0px;
}

.signupPage form label.error {
	font-size: 11px;
	color: rgb(200, 0, 0);
}

.signupPage form label.error {
	font-size: 11px;
	color: rgb(200, 0, 0);
}

.signupPage form label.termsAgree {
	font-size: 12px;
	color: rgb(0, 0, 0);
}

.signupPage .recaptchaWrapper {
	min-height: 78px;
}

.signupPage label.error[for="termsAgree"] {
  display: block;
  font-weight: bold;
  margin-left: -20px;
}
