<div class='settings-github'>
	<h3>Github</h3>
	<p class="text-info">
		<i class='icon-info-sign'></i> Github will allow to save and share your code
	</p>
<br/><br/>

	{{#if github.Name}}{{#if github.Identifier}}{{#if github.HasSSHKey}}
	<div class="alert alert-success alert-no-bottom-margin"><i class="fa fa-check-square"></i> 
					<strong>All Github info are correctly set.</strong></div>
	{{/if}}{{/if}}{{/if}}
	{{#if github.Name}}
		<div class="panel alert-no-bottom-margin">
			{{#github.Avatar}}<img class="githubAvatar" src="{{ github.Avatar }}">{{/github.Avatar}}
			<p style="margin:0px">
				
				<a href="https://github.com/{{ github.Name }}" target="_blank"><i class="fa fa-github fa-2x"></i></a>
				<strong class="githubName">
					{{ github.Name }}
					<a href="javascript://" class="showModifyGithubName"><i class="fa fa-pencil"></i></a>
				</strong>
				<span class="usernameForm modifyGithubName hide">
					<input type="text" placeholder="Set github username" name="GithubName" value="{{github.Name}}">
					<button class="btn btn-link btn-mini submit"><i class="fa fa-pencil"></i></button>
					<button class="btn btn-link btn-mini cancel"><i class="fa fa-times"></i></button>
				</span>
			</p>
			{{#if github.Identifier}}
				<p><small><i class="fa fa-check-square text-success"></i> Valid account</small></p>
			{{else}}
				<p class="text-error"><small><i class="fa fa-warning"></i> <strong>Unvalid account</strong><br/>Please check your github account username.</small></p>
			{{/if}}
		</div>
	{{else}}
		<div class="panel">
			<p style="margin:0px">
				<i class="fa fa-github fa-2x"></i> 
				<span class="usernameForm modifyGithubName">
					<input type="text" placeholder="Set github username" name="GithubName" value="{{github.Name}}">
					<button class="btn btn-link btn-mini submit"><i class="fa fa-pencil"></i></button>
				</span>
			</p>
			<p class="text-error"><small><i class="fa fa-warning"></i> <strong>Account not set!</strong><br/>Please set your github account username.</small></p>
		</div>
	{{/if}}
<!-- 	<form class="usernameForm">
		<label>Set {{#if github.Name}}another{{else}}your{{/if}} Github username</label>
		<input type="text" placeholder="" name="GithubName">
		<button type="submit" class="btn btn-success submit">Set</button>
	</form>
 -->
	{{#if github.Name}}{{#if github.Identifier}}
	 	
		{{#if github.HasSSHKey}}
			<div class="panel githubKeyPanel alert-no-bottom-margin">
				<div class="circle text-success"><i class="fa fa-circle"></i></div>
				<div class="key"><i class="fa fa-key fa-2x"></i></div>
				<div class="certPub">{{ github.CertPub }}</div>
			</div>
		{{else}}
			<p class="text-warning"><i class="fa fa-warning"></i> 
				public key is missing on your github account.</p>
			
			{{#if github.CertPub}}
<!--				<p class="text-info">Certificate found, please add your public key to Github</p>-->
				
				<div class="panel githubKeyPanel">
					<div class="circle text-warning"><i class="fa fa-circle"></i></div>
					<div class="key"><i class="fa fa-key fa-2x"></i></div>
					<div class="certPub">{{ github.CertPub }}</div>
					<button class="btn btn-success btn-small addPublicKey">Add your public key</button>
				</div>
			{{else}}
				<p class="text-warning"><i class="fa fa-warning"></i> 
					<strong>Warning!</strong> Certificate is missing.</p>
				<p>Please add your certificate <a href="#!settings/certificate">here.</a></p>
			{{/if}}
		{{/if}}
	{{/if}}{{/if}}
	
	
	<!-- 
if (Name){
	// form to change github username

	if (HasSSHKey){
		// info: all ok with github
		// show info...
	} else {
		// warning: github public key is missing
		if (certpub){
			//button add public key to github
				-> POST
		} else {
			// warning github public key is missing
			// please add your certificate <>here</>
		}
	}
} else {
	warning
	// form to set github username
}	
	 -->
</div>