<div class="container">
	<div class="row-fluid">
		<div class="span3">
			<h3>Profile</h3>
			<nav class="well submenu">
				<ul class="nav nav-list">
					<li class='profile'><a href="#!settings/profile">Profile</a></li>
					<li class='certificate'><a href="#!settings/certificate">Certificate</a></li>
					<li class='cloud'><a href="#!settings/cloud">Cloud</a></li>
					<li class='github'><a href="#!settings/github">Github</a></li>
				</ul>
			</nav>
		</div>
		<div class="span9" id="subContainer"></div>
	</div>
</div>