<link href="/scripts/modules/passwordreset/css/passwordreset.css" rel="stylesheet">
<div class="passwordResetPage">
	
	<div class="pageSubHeader">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h4>
						TODO - Password reset
					</h4>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container passwordResetForm">
		<form action="#" method="post" class="form-horizontal passwordResetForm" id="passwordResetForm">
			<div class="passwordResetForm-userPwd">
				<h4 style="color:Grey; padding-bottom:5px">Forgot your password</h4>
				<div class="form-group">
					<label for="username">Username or Email</label>
					<input type="text" class="form-control" name="username" id="username">
				</div>
				<button type="submit" class="btn btn-default" {{#if success}}disabled="disabled"{{/if}}>Submit</button>

				{{#if loading}}
					&nbsp;&nbsp;<i class="fa fa-spin fa-spinner"></i> Sign-in...
				{{else}}
					{{#if errorMessage}}
						&nbsp;&nbsp;<span class="text-danger"><strong>Error:</strong> {{errorMessage}}</span>
					{{else}}
						{{#if success}}
							<br/><br/><span class="text-success"><strong>Check your email to get the password reset link.</strong></span>
						{{/if}}
					{{/if}}
				{{/if}}
				
			</div>
			<!-- <div class="loginForm-openId">
				<h2><small>Sign In with Openid</small></h2>
				<p>
					<a href="javascript://" id="loginOpenidButton">Openid</a>
				</p>
			</div> -->


		</form>
	</div>
</div>
