{{#current}}
	<ul class="nav navbar-nav">
		<li class="dropdown">
			<a href="tour" class="dropdown-toggle" data-toggle="dropdown">{{ Username }}<strong class="caret"></strong></a>
			<ul class="dropdown-menu">
				<li><a href="/portal/settings/profile"><i class="fa fa-user"></i> Profile</a></li>
				{{#if isAdmin }}
					<li><a href="/portal/cpanel"><i class="fa fa-gear"></i> Control Panel</a></li>
				{{/if}}
				<li class="divider"></li>
				<li><a href="javascript://" class="logout">Sign out</a></li>
			</ul>
		</li>
	</ul>
{{/current}}
{{#noLogged}}
<div class="loginMenu">
	<button type="sign-in" class="login btn btn-default" style="margin-right: 20px;">Sign-in</button>
</div>
{{/noLogged}}