<!-- IMAGE - teamup -->
<div class="container">
	<!-- Team -->
	<br><br>
   	<h2>{{ name }}} {{ surname }}</h2>
   	<img src="{{image}}" class="photo img-responsive" />
   	<p class="lead">
   		{{{ profile }}}
   	</p>
	<ul class="tags">
		<li>
			<a href={{focus1.url}} target="_blank">{{focus1.title}}</a>
		</li>
		<li>
			<a href={{focus2.url}} target="_blank">{{focus2.title}}</a>
		</li>
		<li>
			<a href={{focus3.url}} target="_blank">{{focus3.title}}</a>
		</li>
		<li>
			<a href={{focus4.url}} target="_blank">{{focus4.title}}</a>
		</li>
	</ul>
</div>
