.plans-pricing {
   margin-top: 55px;
   margin-bottom: 150px;
   -webkit-font-smoothing: antialiased; }
   
.plans-pricing .plans-header {
   text-align: center; }
.plans-pricing .plans-header h3 {
   font-size: 22px;
   color: #444;
   line-height: 25px;
   font-weight: 500;
   margin-bottom: 7px; }
.plans-pricing .plans-header p {
   font-size: 16px;
   font-weight: 400;
   color: #999; }

.plans-pricing .charts {
      margin-top: 50px;
      background-color: #fff;
      padding: 20px 30px 10px 30px;
      text-align: center;
      position: relative;
      right: 0px;
      top: 20px; }
.plans-pricing .charts .plan-name {
      text-align: center;
      font-size: 24px;
      font-weight: 400;
      color: #999;
      width: 90%;
      margin: 0 auto;
      margin-top: 5px; }

.plans-pricing .charts .chart {
      background-color: #fff;
      border: 1px solid #E6E6E6;
      border-radius: 5px;
      box-shadow: 0px 0px 2px 0px rgba(181, 181, 181, 0.3);
      padding: 20px 40px;
      position: relative;
      text-align: center;
      width: 280px;
      float: left;
      min-height: 315px; }      
.plans-pricing .charts .chart .chart.premium .quantity {
      text-align: center;
      margin-top: 15px;
      border-bottom: 1px solid #d5d5d5;
      padding-bottom: 5px; }         
.plans-pricing .charts .chart .quantity .dollar {
      font-size: 19px;
      position: relative;
      top: -18px; }                      
.plans-pricing .charts .chart .quantity .price {
      font-size: 48px; }     
.plans-pricing .charts .chart .quantity .period {
      font-size: 17px;
      position: relative;
      top: -8px;
      margin-left: 4px; }
.plans-pricing .charts .chart .specs {
      margin-top: 20px; }
.plans-pricing .charts .chart .specs .spec {
      font-size: 15px;
      color: #474747;
      text-align: center;
      font-weight: 300;
      margin-bottom: 13px; }
.plans-pricing .charts .chart .specs .spec .variable {
      color: #1FBEE7;
      font-weight: 400; }

.plans-pricing .charts .description {
      margin-top: 15px;
      font-size: 13px;
      color: #999;
      line-height: 20px; }
.plans-pricing .charts .description a {
      display: block;
      margin-top: 15px;
      font-size: 14px; }        
.plans-pricing .charts .chart .btn-signup {
      margin-top: 20px;
      height: 38px; }     

.plans-pricing .charts .chart.premium {
        z-index: 999; }
.plans-pricing .charts .chart.premium .popular {
        position: absolute;
        top: 0px;
        left: 0px; }



      
@media (max-width: 600px) {
   .plans-pricing .charts .chart {
         float: none !important;
         padding: 20px 20px; } 
}

@media (max-width: 991px) {
   .plans-pricing .charts {
         left: 0px !important;
         top: 0px !important;
         margin: 0 auto;
         margin-bottom: 25px !important;
         position: relative;
         margin-top: 30px; }
   .plans-pricing .charts .chart {
         float: none !important;
         width: 75%;
         left: 0px !important;
         top: 0px !important;
         margin: 0 auto;
         margin-bottom: 25px !important; }
}

@media (min-width: 992px) {
    .plans-pricing .charts .chart {
      width: 270px; }
	.plans-pricing .charts .chart.premium {
      min-height: 445px;
      margin-top: -15px;
      left: -15px; }
  .plans-pricing .charts .chart.scaler {
      left: -30px; }
  .plans-pricing .charts .chart.ultimate {
      width: 275px;
      left: 40px; } 
  .plans-pricing .charts .chart.premium .btn-signup {
      margin-top: 32px; } 
}

@media (min-width: 992px) and (max-width: 1150px) {
  .plans-pricing .charts {
      margin-left: 100px;  }	
  .plans-pricing .charts .chart {
      width: 270px;  }
  .plans-pricing .charts .chart.ultimate {
  	  top:30px;
      width: 320px;
      margin-right: 20%;
      margin-left: 20%;  }
}
