<div class="container">
{{#if user}}
	<h2>Control Panel - User management of <b>{{user.Username}}</h2>
	<a href="/portal/users_admin"><small><i class="fa fa-caret-left"></i>
		 Go back to all users admin</small>
	</a>
	<br/><br/>
	
	<div class="row">
		<div class="col-md-6">
		
			<!--  USER INFO  -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">User Info</h3>
				</div>
				<div class="panel-body" style="overflow: scroll">
					{{#user}}
						{{#ifEquals Level 4}}<span class="label label-default">Administrator</span>{{/ifEquals}}
						{{#ifEquals Level 3}}<span class="label label-primary">Normal user</span>{{/ifEquals}}
						{{#ifEquals Level 2}}<span class="label label-primary">Normal user</span>{{/ifEquals}}
						{{#ifEquals Level 1}}<span class="label label-primary">Normal user</span>{{/ifEquals}}
						<dl class="dl-horizontal">
							<dt>Id</dt><dd>&nbsp;{{Id}}</dd>
							<dt>Identifier</dt><dd>&nbsp;{{Identifier}}</dd>
							<dt>Username</dt><dd>&nbsp;{{Username}}</dd>
							<dt>FirstName</dt><dd>&nbsp;{{FirstName}}</dd>
							<dt>LastName</dt><dd>&nbsp;{{LastName}}</dd>
							<dt>Email</dt><dd>&nbsp;{{Email}}</dd>
							<dt>Affiliation</dt><dd>&nbsp;{{Affiliation}}</dd>
							<dt>Country</dt><dd>&nbsp;{{Country}}</dd>
							<dt>AccountStatus</dt><dd>&nbsp;
								{{#ifEquals AccountStatus 4}}<span class="label label-success">Validated</span>{{/ifEquals}}
								{{#ifEquals AccountStatus 1}}<span class="label label-warning">Pending</span>{{/ifEquals}}
							</dd>
							<dt>DomainId</dt><dd>&nbsp;{{DomainId}}</dd>
							<dt>EmailNotification</dt><dd>&nbsp;{{EmailNotification}}</dd>
							<dt>PublicKey</dt><dd>&nbsp;{{PublicKey}}</dd>
						</dl>
					{{/user}}
				</div>
			</div>
			
			{{#ifEquals user.AccountStatus 1}}
			<!-- USER VALIDATION -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">User validation</h3>
				</div>
				<div class="panel-body" style="overflow: scroll">
					<span>User account is currently pending for validation. You can activate the account on the behalh of the user</span>
					<br/><br/>
					<button class="btn btn-small btn-warning validateEmail">Validate</button>
				</div>
			</div>
			{{/ifEquals}}

		</div>
		
		<div class="col-md-6">
		
			<!-- CHANGE USER LEVEL -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Change user level</h3>
				</div>
				<div class="panel-body" style="overflow: scroll">
					{{#ifEquals user.Level 4}}
					<button class="btn btn-small btn-warning removeAdminRights">Set as normal user</button>
					{{/ifEquals}}
					{{#ifNotEquals user.Level 4}}
					<button class="btn btn-small btn-warning giveAdminRights">Set as administrator</button>
					{{/ifNotEquals}}
				</div>
			</div>
			
			<!-- CHANGE USER PLAN -->
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Change plan</h3>
				</div>
				<div class="panel-body">
					{{#if plans}}
						<div class="list-group">
						{{#each plans}}
							<a class="user-plan list-group-item {{#ifEquals Key ../user.Plan}}active{{/ifEquals}}" data-plan="{{Value}}">{{Key}}</a>
						{{/each}}
						</div>
						<button class="btn btn-warning upgradePlanBtn" data-user="{{user.Id}}">Upgrade</button>&nbsp;&nbsp;
						{{#if planUpgradedSuccessName}}
							<span class="text-success">The user <strong>{{user.Username}}</strong> account is upgraded to <strong>{{planUpgradedSuccessName}}</strong></span>
						{{else}}
							{{#if planUpgradedFailMessage}}
								<span class="text-danger">Error while upgrade user <strong>{{user.Username}}</strong> account: <strong>{{planUpgradedFailMessage}}</strong></span>
							{{else}}
								{{#if planUpgradedLoading}}
									&nbsp;&nbsp;<i class="fa fa-spin fa-spinner"></i> Upgrading...
								{{/if}}
							{{/if}}
						{{/if}}
					{{else}}
						<p><i class="fa fa-spin fa-spinner"></i> Loading plans...</p>
					{{/if}}
				</div>
			</div>

		</div>
		
	</div><!-- end row -->

{{else}}
	<br/><br/>
	<p><i class="fa fa-spin fa-spinner"></i> Loading user...</p>
{{/if}}
</div>
