<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Control Panel - user management</h3>
	</div>
	<div class="container panel-body">
		Change plan for user <b>{{user.Username}}</b>
		{{#each plans}}
			<div class="radio">
				<label>
					<input type="radio" name="planRadio" value="{{Value}}" {{#ifEquals Key ../user.Plan}}checked="checked"{{/ifEquals}}>
					{{Key}}
				</label>
			</div>
		{{/each}}
		<button class="btn btn-warning upgradePlanBtn" data-user="{{user.Id}}">Upgrade</button>&nbsp;&nbsp;
		{{#if planUpgradedSuccessName}}
			<span class="text-success">The user <strong>{{user.Username}}</strong> account is upgraded to <strong>{{planUpgradedSuccessName}}</strong></span>
		{{else}}
			{{#if planUpgradedFailMessage}}
				<span class="text-danger">Error while upgrade user <strong>{{user.Username}}</strong> account: <strong>{{planUpgradedFailMessage}}</strong></span>
			{{else}}
				{{#if planUpgradedLoading}}
					&nbsp;&nbsp;<i class="fa fa-spin fa-spinner"></i> Upgrading...
				{{/if}}
			{{/if}}
		{{/if}}
		
	</div>
</div>
