<div class="container banners" id="usersAdminPage">
	<a href="/portal/cpanel"><small><i class="fa fa-caret-left"></i> Back to Administration panel</small></a>
	<h2>Users</h2>
	{{#if entities.isResolved}}
		<small>
				<i class="fa fa-star"></i> Administrator
				<br/>
				<i class="text-warning fa fa-warning"></i> Account not validated (pending activation)
				<br/><br/>
			</small>
		<table class="data-table table table-striped table-bordered" align="center">
			<thead>
				<tr>
					<th>Id</th>
					<th>Level</th>
					<th>Status</th>
					<th>Username</th>
					<th>Name</th>
					<th>Email</th>
					<th>Affiliation</th>
					<th>Plan</th>
					<th/>
				</tr>
			</thead>
			<tbody>
				{{#each entities}}
					<tr class="entity" data-id="{{ Id }}">
						<td>{{ Id }}</td>
						<td>{{#ifEquals Level 4}} <i class="fa fa-star"/>{{/ifEquals}}</td>
						<td>
							{{#ifEquals AccountStatus 1}}<i class="fa fa-warning text-warning"/>{{/ifEquals}}
						</td>
						<td>{{ Username }}</td>
						<td>{{ FirstName }} {{ LastName }}</td>
						<td>{{ Email }}</td>
						<td>{{ Affiliation }}</td>
						<td>{{ Plan }}</td>
						<td>
							<a href="/portal/users_admin/details/{{ Id }}" class="btn btn-info plans" title="Details/Manage plan"><i class="fa fa-eye"></i></a>
							<a href="javascript://" class="btn btn-info delete" title="Delete"><i class="fa fa-trash-o"></i></a>
						</td>
					</tr>
				{{/each}}
			</tbody>
		</table>
		<!-- <a href="javascript://" class="btn openCreate">Create</a> -->
	{{else}}
		{{#if entities.isPending}}
			<h3><center><i class="fa fa-spin fa-spinner"></i> Loading Users...</center></h3>
		{{else}}
			<div class="alert alert-error">
			  <button type="button" class="close" data-dismiss="alert">&times;</button>
			  <strong>Error!</strong> Unable to load Users.
			</div>
		{{/if}}
	{{/if}}
	
</div>