<div class="settings-account container col-md-9">
	{{#if user}}
		<div class='settings-account-username'>
			<div>
				<div class='settings settings-title'>Cloud Platform</div>
				<div class='settings settings-description'>
					Information about your Cloud Platform account
				</div>
				<div class='settings settings-container'>
				{{#if user.HasLdapAccount}}
					{{#if usernameSet}}
						<div><i class="fa fa-check-square text-success"></i> <b>Cloud Username:</b> <span class='account-value'>{{ user.Username }}</span></div>
						<br/>
						<div class='alert alert-info'><i class="fa fa-info-circle"></i> Changing your cloud username can have unintended side-effects, so it is highly recommended not to do it. If you wish to do it anyway, please <a href="mailto:support@terradue.com">contact us</a>.</div>
					{{else}}
						<div class='alert alert-info'>Please go now to your <a href="profile">profile</a> to set your Cloud username.</div>
					{{/if}}
				{{else}}
					<div class='alert alert-danger'>Your account needs to be integrated to the Terradue Cloud platform.</div>
					You will need to provide a new password which will be associated to your account and will allow you to access your Cloud environment.
					<br/><br/>
					<button class="btn btn-small btn-warning createLdapAccount">Proceed</button>
				{{/if}}
				</div>
			</div>
		</div>
		<br/>
		<div id='settings' class='settings-email'>
			<div>
				<div class='settings settings-title'>Email</div>
				<div class='settings settings-description'>
					Your <b>email</b> is important as it is used to verify your account.<br/>
					If you wish to change your email, you will have to validate the new one before being able to access your Cloud environment again.
				</div>
				<div class='settings settings-container'>
					{{#if user.Email}}
						{{#if emailNotComplete}}
							<div class="alert alert-warning">
								<i class="fa fa-warning"></i> Your email needs to be verified, please check your emails or <a class="sendConfirmationEmail" href="javascript://">send again the confirmation email</a>
							</div>
						{{else}}
							{{#if emailConfirmOK}}
								<div class="alert alert-success"><i class="fa fa-check-square"></i> Your email has been successfully validated!</div>
							{{/if}}
						{{/if}}
		
						<div class="email-change">
							<span class='account-value'>{{ user.Email }}</span>
							<br/>
							<br/>
						</div>
		
					{{else}}
						<div class='alert alert-warning'>You have no email associated to your account.</div>
					{{/if}}
		
					<form class='changeEmailForm'>
						<div class='form-group'>
							<label for='Email'>New email</label>
							<input type='email' class='form-control' name='Email' placeholder='New email'>
						</div>
		
						{{#if emailSaveSuccess}}
							<div class="alert alert-success"><i class="fa fa-warning"></i><strong> Congratulations!</strong> Your email have been changed successfully.</div>
						{{/if}}
						{{#if emailSaveFail}}
							<div class="alert alert-danger"><i class="fa fa-warning"></i><strong> Oops! </strong>{{ emailErrorMessage }}</div>
						{{/if}}
		
						{{#if emailLoading}}
							<button type="button" class="btn btn-warning submit" disabled="disabled">{{#if user.Email}}Change{{else}}Save{{/if}} email</button>
							<i class="fa fa-spin fa-spinner"></i> Saving...
						{{else}}
							<button type="submit" class="btn btn-warning submit">{{#if user.Email}}Change{{else}}Save{{/if}} email</button>
						{{/if}}
		
					</form>
		
					<!--- TODO: Email preferences (notifications, ...) ?? -->
		
				</div>
			</div>
		</div>
		{{#if HasLdapDomain}}
			<br/>
			<div class="settings-account-form">
				<div class='settings settings-title'>Change password</div>
				<div class='settings settings-container'>
			
				<form class='changePasswordForm'>
					<div class='form-group'>
						<label for='password passwordform'>Old password</label>
						<input type='password' class='form-control' name='oldpassword' placeholder='Old Password'>
					</div>
					<div class='form-group passwordform'>
						<label for='password'>New password</label>
						<input type='password' class='form-control' name='newpassword' placeholder='New Password'>
					</div>
					<div class='form-group'>
						<label for='password'>Confirm new password</label>
						<input type='password' class='form-control' name='newpassword2' placeholder='New Password'>
					</div>
			
					{{#if passwordLoading}}
						<button type="button" class="btn btn-warning submit" disabled="disabled">Change password</button>
						<i class="fa fa-spin fa-spinner"></i> Saving...
					{{else}}
						<button type="submit" class="btn btn-warning submit">Change password</button>
						&nbsp;<a href="/portal/passwordreset" class="small">I forgot my password</a>
					{{/if}}
			
					{{#if passwordSaveSuccess}}
						<div class="alert alert-success"><i class="fa fa-warning"></i><strong> Congratulations!</strong> Your password have been changed successfully.</div>
					{{/if}}
					{{#if passwordSaveFail}}
						<div class="alert alert-danger"><i class="fa fa-warning"></i><strong> Oops! </strong>{{ passwordErrorMessage }}</div>
					{{/if}}
			
				</form>
			
				</div>
			</div>
		{{/if}}
		<div class="modal fade createLdapAccountModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<form class="createLdapAccountForm">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title">Create a new password</h4>
						</div>
						<div class="modal-body">
							<div class='form-group passwordform'>
								<label for='password'>Password</label>
								<input type='password' class='form-control' name='password' placeholder='New Password'>
							</div>
							<div class='form-group'>
								<label for='password'>Confirm password</label>
								<input type='password' class='form-control' name='password2' placeholder='New Password'>
							</div>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
							<button type="submit" class="btn btn-primary">Save changes</button>
						</div>
					</form>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	{{else}}
		{{#if emailConfirmOK}}
			<div class="alert alert-success"><i class="fa fa-check-square"></i> Your email has been successfully validated!</div>
		{{/if}}
	{{/if}}
</div>
