<div class="settings-account container col-md-9">
	<div class='settings settings-title'>Change password</div>
	<div class='settings settings-container'>

	<form class='createSafeForm'>
		<div class='form-group'>
			<label for='password'>Old password</label>
			<input type='password' class='form-control' name='oldpassword' placeholder='Password'>
		</div>
		<div class='form-group'>
			<label for='password'>New password</label>
			<input type='password' class='form-control' name='newpassword' placeholder='Password'>
		</div>
		<div class='form-group'>
			<label for='password'>Confirm new password</label>
			<input type='password' class='form-control' name='newpassword2' placeholder='Password'>
		</div>
		<button type="submit" class="btn btn-warning submit">Change password</button>
		&nbsp;<a href="/portal/passwordreset" class="small">I forgot my password</a>
	</form>

	</div>
</div>
