<h3>Cloud</h3>

<p class="text-info">
	<i class="icon-info-sign"></i> In this page you can set credentials to access OpenNebula Sunstone service.
</p>
<br/><br/>

{{#if oneUser.Name }}
	{{#if sunstoneOk }}
		<div class="settings-cloud">
			<a href="{{ oneSettings.One-access }}" target="_blank"><div class="sunstoneLogo"></div></a>
		</div>
		<br/><br/>
		<div class="alert alert-success alert-no-bottom-margin">
			<i class="fa fa-check-square text-success"></i><strong> Well done! You can now access the Cloud Controller.</strong>
			<br/><span>If you haven't done it yet, just store the certificate in your favorite browser.</span>
		</div>
	{{ else }}
		{{#if oneCertOk }}
			<div class="alert alert-warning alert-no-bottom-margin">
				<i class="fa fa-warning text-warning"></i><strong> Oups! You're almost there.</strong>
				<br/><span>Cloud Controller access does not match certificate - it is highly recommended to update it.</span>
			</div>
			<small style="margin-left:15px"><i>{{user.OnePassword}}</i></small>
			<br/>
			<br/><button style="margin-left:15px"class="btn btn-small btn-warning setCertificateAsOnePassword">Update it</button>
			<br/><br/>	
		{{ else }}
			<div class="alert alert-error">
				<i class="fa fa-warning"></i><strong> Oups! Where is your certificate?</strong><br/>Update your <a href="#!settings/certificate">certificate</a> to conclude the registration process.
			</div>
		{{/if }}
	{{/if }}
{{ else }}
	<div class="alert alert-error">
		<i class="fa fa-warning text-error"></i><strong> Oups! It seems you don't have an account on the Cloud Controller yet!</strong><br/>
		{{#if oneCertOk }}
			<br/><span style="margin-left:15px">Create your account on the Cloud Controller!</span>
			<br/><small style="margin-left:15px"><br/><button class="btn btn-small btn-warning createOneUser">Create</button></small>
		{{ else }}
			<br/><span style="margin-left:15px">To do so, start by requesting or managing the <a href="#!settings/certificate">certificate</a>!</span>
		{{/if }}
	</div>
{{/if }}

