<div id='settings' class='settings-email container col-md-9'>
	<div>
		<div class='settings settings-title'>Email</div>
		<div class='settings settings-description'>
			Your <b>email</b> is important to us as we use it as identifier for our cloud platform.<br/>
			If you wish to change your email, it will automatically change your Terradue Cloud platform identifier (used also to access your development environment).
		</div>
		<div class='settings settings-container'>
			{{#if isPending}}
				<div class="alert alert-warning">
					<i class="fa fa-warning"></i> Your email needs to be verified, please check your emails or <a class="sendConfirmationEmail" href="javascript://">send again the confirmation email</a>
				</div>
				<br/>
			{{else}}
<!--				<div class="text text-success small"><i class="fa fa-check-square"></i> Your email has been validated!</div>-->
			{{/if}}

			<div>
				<span class='email'>{{ user.Email }}</span>
				&nbsp;&nbsp;
				<button click='submit' class='btn btn-warning submit'>Change</button>
			</div>

			<!--- TODO: Email preferences (notifications, ...) ?? -->

		</div>
	</div>
</div>