<div class="container">
	<div class="row-fluid">
		<div class="col-md-3">
			<br/>
			<div class="well submenu">
				<ul class="nav nav-pills nav-stacked">
					<li class='profile'><a href="/portal/settings/profile">
						{{#if isPending}}
							<span class="text-warning"><i class="fa fa-exclamation-triangle"></i></span>
						{{/if}}
						Profile
					</a></li>
					{{#if showSafe}}
						<li class='github'><a href="/portal/settings/safe"> Safe</a></li>
					{{/if}}
					{{#if showCloud}}
						<li class='cloud'><a href="/portal/settings/cloud"> Cloud</a></li>
					{{/if}}
					{{#if showGithub}}
						<li class='github'><a href="/portal/settings/github"> Github</a></li>
					{{/if}}
					<li class='cloud'><a href="/portal/settings/freeTrial"> Free Trial</a></li>
					<li class='cloud'><a href="/portal/settings/earlyBird"> Early-Bird demos</a></li>
					<li class='cloud'><a href="/portal/settings/partnerProgram"> Partner Programs</a></li>
					<li class='cloud'><a href="/portal/settings/plan"> Plans</a></li>
				</ul>
			</div>
		</div>
		<div class="col-md-9" id="subContainer"></div>
		<br/>
	</div>
</div>