<div class='settings-key container col-md-9'>
	<div>
		<div class='settings settings-title'>SSH keys</div>
		<div class='settings settings-description'>Your <b>SSH keys</b> are the way for you to access your Terradue Cloud Platform development environment.</div>
		<div class='settings settings-container'>
			{{#if PrivateKey}}
				<div class="safePanel privKey">
					<div class="key-title">Private ssh key</div>
					<div class="alert alert-danger">
						<b><i class="fa fa-warning"></i> We don't store your private key. You must save it on your computer.</b>
					</div>
					<pre class="privKey">{{ PrivateKey }}</pre>
					<button class="btn btn-small btn-primary copyPrivateKeyBtn" title="Copy on clipboard" data-public-key="{{ PrivateKey }}"><i class="fa fa-clipboard"></i></button>
				&nbsp;&nbsp;<a class="btn btn-small btn-primary" download="id_rsa" href="data:application/octet-stream;charset=utf-8;base64,{{ PrivateKeyBase64 }}"><i class="fa fa-download"></i></a>
				</div>
				<hr/>
			{{/if}}
			{{#if PublicKey }}
				<div class="safePanel pubKey">
					<div class="key-title">Public ssh key</div>
					<pre class="pubKey">{{ PublicKey }}</pre>
					<button class="btn btn-small btn-primary copyPublicKeyBtn"><i class="fa fa-clipboard"></i></button>
					&nbsp;&nbsp;<a class="btn btn-small btn-primary" download="id_rsa.pub" href="data:application/octet-stream;charset=utf-8;base64,{{ PublicKeyBase64 }}"><i class="fa fa-download"></i></a>
				</div>
				<hr/>
			{{/if}}
			<div>
				<button class="btn btn-warning generateSafe">Generate a new SSH keys pair</button>
			</div>
		</div>
	</div>
</div>


