<div class='settings-plan container col-md-9'>
	<div>
		<div class='settings settings-title'>Plan</div>
		<div class='settings settings-description'>Find out what you can do with your current plan or change to a new one.</div>
		<div class='settings settings-container'>
			<div class='plan-profile'>
				{{#ifEquals user.Plan "No Plan"}}
					<div class="alert alert-warning">
						You haven't suscribed to any plan yet.
					</div>
				{{/ifEquals}}
				{{#ifEquals user.Plan "Free Trial"}}
					<div class="alert alert-success">
						<i class="fa fa-star fa-1x"></i>&nbsp; You have a <strong>Free Trial</strong> plan.
					</div>
					<div>It allows you to: ...</div>
				{{/ifEquals}}
				{{#ifEquals user.Plan "Developer"}}
					<div class="alert alert-success">
						<i class="fa fa-star fa-1x"></i>&nbsp; You have an <strong>Explorer</strong> plan.
					</div>
					<div>
						It allows you to:
						<ul>
							<li>Do this</li>
							<li>And that</li>
							<li>...</li>
						</ul>
					</div>
				{{/ifEquals}}
				{{#ifEquals user.Plan 'Integrator'}}
					<div class="alert alert-success">
						<i class="fa fa-star fa-1x"></i>&nbsp; You have a <strong>Premium</strong> plan.
					</div>
					<div>
						It allows you to:
						<ul>
							<li>Do this</li>
							<li>And that</li>
							<li>...</li>
						</ul>
					</div>
				{{/ifEquals}}
				{{#ifEquals user.Plan "Producer"}}
					<div class="alert alert-success">
						<i class="fa fa-star fa-1x"></i>&nbsp; You have a <strong>Scaler</strong> plan.
					</div>
					<div>
						It allows you to:
						<ul>
							<li>Do this</li>
							<li>And that</li>
							<li>...</li>
						</ul>
					</div>
				{{/ifEquals}}
				<div>
					{{#ifEquals user.Plan "No Plan"}}
						<b>Want to get a plan ?</b>
						<br/>
						Discover which is the best plan for you !
					{{/ifEquals}}

					{{#ifNotEquals user.Plan "No Plan"}}
						<br/>
						<b>Want to change your plan ?</b>
						<br/>
						Discover which is the best plan for you !
					{{/ifNotEquals}}

					<br/>
					<br/>
					<a class="btn btn-small btn-warning" href="/portal/tour#plans-pricing">Upgrade</a>
					</div>
			</div>
		</div>
	</div>
</div>