<div class='settings-profile'>
	<h3>Profile</h3>
	{{#user}}
		{{#ifEquals AccountStatus 1}}
			<div class="alert alert-warning pendingActivation" role="alert">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Pending Activation!</strong> We must verify that your email address is valid. Please consult your inbox and confirm your address.
				<br/>
				If you did not received it, <a class="sendConfirmationEmail" href="javascript://">send again the confirmation email</a>
				<br/>
			</div>
		{{/if}}
	<form role="form">
		
		<div class="form-group">
			<label>First name</label>
			<input type="text" class="form-control" placeholder="" name="FirstName" value="{{ FirstName }}">
		</div>
		
		<div class="form-group">
			<label>Last name</label>
			<input type="text" class="form-control" placeholder="" name="LastName" value="{{ LastName }}">
		</div>
		
		<div class="form-group">
			<label>E-mail</label>
			<input type="text" class="form-control" placeholder="" name="Email" value="{{ Email }}">
		</div>
		
		<div class="form-group">
			<label>Affiliation</label>
			<input type="text" class="form-control" placeholder="" name="Affiliation" value="{{ Affiliation }}">
		</div>
		
		<div class="form-group">
			<label>Country</label>
			<input type="text" class="form-control" placeholder="" name="Country" value="{{ Country }}">
		</div>
		
<!-- 		<div class="form-group">
	 		<label class="checkbox">
				<input type="checkbox" name="EmailNotification"
					{{#EmailNotification}}checked="checked"{{/EmailNotification}}> Email Notification
			</label>
		</div>
 
 -->
 		<br/>
		{{#if ../saveSuccess}}
			<div class="alert alert-success"><i class="fa fa-warning"></i><strong> Updated!</strong> Your profile info are successful updated.</div>
		{{/if}}
		{{#if ../saveFail}}
			<div class="alert alert-danger"><i class="fa fa-warning"></i><strong> Oups! </strong>{{ saveFailMessage }}</div>
		{{/if}}
		<button type="submit" class="btn btn-warning submit">Submit</button>
	</form>
	{{/user}}
</div>
