<div id='settings' class='settings-profile container col-md-9'>
	<div class='settings settings-title'>Public profile</div>
	<div class='settings settings-description'>Some basic information about you.</div>
	<div class='settings settings-container'>

	{{#if user}}		
		{{#if profileNotComplete}}
			<div class="alert alert-warning">
				<i class="fa fa-warning"></i>&nbsp;Your profile is not yet complete, please fill it up.
			</div>
			<br/>
		{{/if}}
		<form role="form">
			
			<div class="form-group">
				<label>First name</label>
				<input type="text" class="form-control" placeholder="" name="FirstName" value="{{ user.FirstName }}">
			</div>
			
			<div class="form-group">
				<label>Last name</label>
				<input type="text" class="form-control" placeholder="" name="LastName" value="{{ user.LastName }}">
			</div>
			
			<div class="form-group">
				<label>Unix Username</label>
				{{#if user.UnixUsername}}
	 				<input type="text" class="form-control" placeholder="" disabled="disabled" value="{{ user.UnixUsername }}">
				{{else}}
					<input type="text" class="form-control" placeholder="" name="UnixUsername">
				{{/if}}
			</div>
			
			<div class="form-group">
				<label>Affiliation</label>
				<input type="text" class="form-control" placeholder="" name="Affiliation" value="{{ user.Affiliation }}">
			</div>
			
			<div class="form-group">
				<label>Country</label>
				<input type="text" class="form-control" placeholder="" name="Country" value="{{ user.Country }}">
			</div>

	 		<br/>
			{{#if saveSuccess}}
				<div class="alert alert-success"><i class="fa fa-warning"></i><strong> Updated!</strong> Your profile info are successful updated.</div>
			{{/if}}
			{{#if saveFail}}
				<div class="alert alert-danger"><i class="fa fa-warning"></i><strong> Oops! </strong>{{ saveFailMessage }}</div>
			{{/if}}
			<button type="submit" class="btn btn-warning submit">Submit</button>
		</form>
	{{/if}}
</div>
