<div class='settings-storage container col-md-9'>
	<div>
		<div class='settings settings-title'>Storage Repository list</div>
		<div class='settings settings-description'>This is your repository index</div>
		<div class='settings settings-container'>
			{{#if loading}}
				&nbsp;&nbsp;<i class="fa fa-spin fa-spinner"></i> Loading...
			{{else}}
				{{#if errorMessage}}
					<p class="text-error"><i class="fa fa-exclamation-circle"></i> <strong>Oops!</strong> {{errorMessage}}</p>
				{{else}}
					{{#if list}}
						<div>
							<p><i class="fa fa-info-circle"></i> You have the following you have the following <b>repositories</b> available</p>
							<ul>
								{{#each list}}
									<li>{{.}}</li>
								{{/each}}
							</ul>
						</div>
						<br/>
					{{else}}
						<button class="btn btn-warning createStorage">Create Repository</button>
					{{/if}}
				{{/if}}
			{{/if}}
			<div>
			</div>
		</div>
	</div>
</div>


