<div id="welcomePage" class="container">
	{{#if loading}}
		<div class="row text-center"><h2><i class="fa fa-spin fa-spinner"></i> Loading...</h2>
	{{else}}
		<br/>
		<div class="welcome-title">Welcome {{user.FirstName}} {{user.LastName}},</div>
		<br/>
		{{#if usernameNotSet}}
			<!--<div class="welcome-container row text-center" style="background-color:#ff6666; color:white;">
				<h3><i class="fa fa-warning"></i>&nbsp;Cloud Username not set!</h3>
				<h3>It is a <b>MANDATORY</b> step to start working with us.</h3>
				<h3><a href="/portal/settings/profile">Fill it up</a></h3>
			</div>-->
			<div class="welcome-container row text-center" style="background-color:#ffb366; color:white;">
				<h3>Thanks for registering on Terradue</h3>
				{{#if emailNotValidated}}
					<h3><a href="/portal/settings/account">Validate your email</a> and <a href="/portal/settings/profile">set your username</a> to start working with us.</h3>
				{{else}}
					<h3><a href="/portal/settings/profile">Set your username</a> to start working with us.</h3>
				{{/if}}
			</div>
		{{else}}
			<!--{{#if apikeyNotComplete}}
				<div class="welcome-container row text-center" style="background-color:#ff6666; color:white;">
					<h3><i class="fa fa-warning"></i>&nbsp;API Key is missing!</h3>
					<h3>It is a <b>MANDATORY</b> step to access your storages and repositories.</h3>
				<h3><a href="/portal/settings/apikey">Generate it</a></h3>
				</div>
			{{/if}}-->
			{{#if emailNotValidated}}
				<div class="welcome-container row text-center" style="background-color:#ffb366; color:white;">
					<h3><i class="fa fa-warning"></i>&nbsp;Please <a href="/portal/settings/account">validate your email</a>.</h3>
					<h3>It is a <b>NECESSARY</b> step to start working with us.</h3>
				</div>
			{{else}}
				{{#if profileNotComplete}}
					<div class="welcome-container row text-center" style="background-color:#ffb366; color:white;">
						<h3><i class="fa fa-warning"></i>&nbsp;Profile not complete!</h3>
						<h3>It is a <b>NECESSARY</b> step to start working with us.</h3>
					<h3><a href="/portal/settings/profile">Fill it up</a></h3>
					</div>
				{{else}}
					<div class="welcome-container row text-center">
						<h3><i class="fa fa-user"></i>&nbsp; Access your <a href="/portal/settings/profile">profile</a></h3>
					</div>
				{{/if}}
			{{/if}}
		{{/if}}
		<div class="welcome-container row text-center" style="background-color:#D0D2C1;">
				<h3><i class="fa fa-hand-o-right"></i>&nbsp; Take a tour and discover <a href="/portal/tour#platform">Terradue Cloud Platform</a !</h3>
	    </div>
		<div class="welcome-container row text-center">
			<div class="welcome-plan">
			{{#ifEquals user.Plan "No Plan"}}
				<h3><i class="fa fa-frown-o"></i>&nbsp; You haven't subscribed to any plan yet.</h3>
			{{/ifEquals}}
			{{#ifEquals user.Plan "Free Trial"}}
				<h3><i class="fa fa-smile-o"></i>&nbsp; You have a <strong>Free Trial</strong> plan.</h3>
			{{/ifEquals}}
			{{#ifEquals user.Plan "Developer"}}
				<h3><i class="fa fa-smile-o"></i>&nbsp; You have an <strong>Explorer</strong> plan.</h3>
			{{/ifEquals}}
			{{#ifEquals user.Plan 'Integrator'}}
				<h3><i class="fa fa-smile-o"></i>&nbsp; You have a <strong>Premium</strong> plan.</h3>
			{{/ifEquals}}
			{{#ifEquals user.Plan "Producer"}}
				<h3><i class="fa fa-smile-o"></i>&nbsp; You have a <strong>Scaler</strong> plan.</h3>
			{{/ifEquals}}
				<h3><a href="/portal/settings/plan">Upgrade</a></h3>
			</div>
		</div>
		<div class="welcome-container row text-center" style="background-color:#D0D2C1;">
			<h3>Follow us on twitter <a href="http://twitter.com/terradue" target="_blank"><i class="fa fa-twitter"></i></a></h3> 
		</div>
	{{/if}}
</div>
