<link href="/scripts/modules/signin/css/signin.css" rel="stylesheet">
<div id="signinPage">
	<div class="pageSubHeader">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<h4>Sign-in to Terradue Cloud Platform</h4>
					<h3>Authorize OpenID Connect client</h3>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container signinContainer {{#unless showSigninForm }}hidden{{/unless}}">
		<form class="signinForm">
			<br>
			<label for="username">Username or Email</label>
			<input type="text" name="username" class="form-control" tabindex="1">
			<br>
			<label for="password"> Password <small><b><a href="passwordreset" tabindex="4">(forgot your password)</a></b></small></label> 
			<input type="password" name="password" class="form-control" tabindex="2">
			<br>
			<p class="text-danger">{{ signinErrorMessage }}</p>
	           
			<button type="submit" class="btn btn-default" {{#unless isSubmitEnabled }} disabled="disabled" {{/unset}} tabindex="3">Sign in</button>
			{{#if signinLoading}}
				&nbsp;&nbsp;&nbsp; <i class="fa fa-spin fa-spinner"></i> wait...
			{{/if}}
			<!-- <button class="btn btn-default" id="cancel-login-button">Cancel</button> -->
			<br><br>
			<div class="strike">
			   <span>or</span>
			</div>
			<br>
			<a href="/t2api/oauth/everest" class="btn btn-default"><img style="width:50px;" src="/scripts/modules/signin/img/wos2.svg"/> Sign in with your EVER-EST account</a> 
			<br><br><br>
			<p><small><b>New here ? <a href="signup" tabindex="5">Create a free account</a></b></small></p>
		</form>
	</div>

	
	<div class="container consentContainer {{#unless showConsentForm }}hidden{{/unless}}">
	{{#consentData }}
		{{#if sub_session.data.name}} 
			<h3>Hi, {{ sub_session.data.name }}</h3>
			<hr/>
		{{/if}}

		<form class="consentForm" method="POST" action="/t2api/oauth">
<!--			{{ #if scope.consented.length }}
				<h4 class="hidden">Scopes already consented:</h4>
				<table class="table consentedScopes hidden">
					<tbody>
						{{ #each scope.consented }}
							<tr data-scope="{{.}}">
								<td><i class="fa fa-square"></i></td>
								<td>{{.}}</td>
								<td>
									<input type="checkbox" name="{{.}}" checked="checked" />
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
				<br>
			{{/if}}-->

			{{ #if scope.consented.length }}
				<table class="table consentedScopes hidden">
					<tbody>
						{{ #each scope.consented }}
							<tr data-scope="{{.}}">
								<td><i class="fa fa-square"></i></td>
								<td>{{.}}</td>
								<td>
									<input type="checkbox" name="{{.}}" checked="checked" />
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
				<br>
			{{/if}}

			{{ #if scope.new.length }}
				<h4>This app would like to access:</h4>
				<table class="table newScopes">
					<tbody>
						{{ #each scope.new }}
							<tr data-scope="{{.}}">
								<td><img src="/scripts/modules/login/img/logo-ldap.png" width="25px" height="25px"/></td>
								<td>{{.}}</td>
								<td>
									<input type="checkbox" name="{{.}}" checked="checked" />
									<!-- <a href="#"><i class="fa fa-info-circle"></i></a> -->
								</td>
							</tr>
						{{/each}}
					</tbody>
				</table>
				<p class="message">
					<small>Terradue will use this information in accordance with their <a href="#">term of services and privacy policies</a>.</small>
				</p>
			{{else}}
				<h5 class="text-info"><i class="fa fa-info"></i> No new scopes to consent.</h5>
				<br><br>
			{{/if}}
			
			<p class="buttons">
				<button class="btn btn-default denyBtn {{#if disabledConsentDeny}}disabled{{/if}}">Deny</button>
				<button type="submit" class="btn btn-primary {{#if disabledConsentAllow}}disabled{{/if}}">Allow</button>
				{{#if consentLoading}}
					&nbsp;&nbsp;&nbsp; <i class="fa fa-spin fa-spinner"></i> wait...
				{{/if}}
			</p>
		</form>
	{{/consentData}}
	</div>
</div>

