


#loginForm > .loginForm-openId {
	float: left;
	width: 250px;
	margin-left: 30px;
}

#loginOpenidButton {
	background: url(../img/t2logo.png);
	text-indent: 100%;
	display: block;
	width: 106px;
	height: 34px;
	background-size: 94px;
	background-position: 50%;
	border: 1px solid #ccc;
	padding: 5px;
	background-repeat: no-repeat;
	border-radius: 5px;
}
.signupForm {
	max-width: 400px;
	margin: 20px auto;
}
.signupForm .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

.signupForm label.error { /* improve */
  color: #a94442;
  font-weight: normal;
  font-size: 12px;
}


.consentForm {
    width: 450px;
    margin: 20px auto;
}

.consentForm > form > table.table {
    margin-top: 30px;
}

.consentForm > form > table.table tr>td {
    height: 56px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.consentForm > form > .buttons {
    text-align: right;
}
