

#loginForm > .loginForm-openId {
	float: left;
	width: 250px;
	margin-left: 30px;
}

#loginOpenidButton {
	background: url(../img/t2logo.png);
	text-indent: 100%;
	display: block;
	width: 106px;
	height: 34px;
	background-size: 94px;
	background-position: 50%;
	border: 1px solid #ccc;
	padding: 5px;
	background-repeat: no-repeat;
	border-radius: 5px;
}


#signinPage > .pageSubHeader{
	height: 130px;
}

#signinPage > .signinContainer {
	max-width: 400px;
	margin: 20px auto;
}
#signinPage > .signinContainer .form-group {
  margin-right: 0px;
  margin-left: 0px;
}

#signinPage > .signinContainer label.error { /* improve */
  color: #a94442;
  font-weight: normal;
  font-size: 12px;
}


#signinPage > .consentContainer {
    width: 450px;
    margin: 20px auto;
}

#signinPage > .consentContainer > .consentForm > table.table {
    margin-top: 30px;
}

#signinPage > .consentContainer > .consentForm > table.table tr>td {
    height: 56px;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

.strike {
    display: block;
    text-align: center;
    overflow: hidden;
    white-space: nowrap; 
}

.strike > span {
    position: relative;
    display: inline-block;
}

.strike > span:before,
.strike > span:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 9999px;
    height: 1px;
    background: gray;
}

.strike > span:before {
    right: 100%;
    margin-right: 15px;
}

.strike > span:after {
    left: 100%;
    margin-left: 15px;
}