<div class="errorPage">
	<hr>
	<h1 style=""><strong>Oops!</strong></h1>
	<p class="lead sorry">
		{{#if shortMsg }}
			{{{ shortMsg }}}
		{{else}}
			Sorry, the page you are looking for doesn't exist.
		{{/if}}
		
		{{#if longMsg}}
			<br/><small>{{longMsg}}</small>
		{{/if}}
	</p>
	<p class="lead goBack">
		Go back to <a href="/portal/">Terradue</a> or <a href="">contact us</a>.
	</p>
	<!-- <img src="/styles/img/earthDeflated.jpg" class="deflatedEarth"> -->
	<hr class="bar">
	<div class="message">{{ longMsg }}</div>
</div>