<div class="errorPage">
	<hr>
	<h1 style=""><strong>Oops!</strong></h1>
	<p class="lead sorry">
		{{#if shortMsg }}
			{{{ shortMsg }}}
		{{else}}
			Sorry, the page you are looking for doesn't exist.
		{{/if}}
		
		{{#if longMsg}}
			<br/><small>{{longMsg}}</small>
		{{/if}}
	</p>
	<p class="lead goBack">
		Go back to <a href="/portal/">{{siteName}}</a> or <a href="{{contactUsUrl}}">contact us</a>.
	</p>
	{{#if errorImageUrl }}<img src="{{ errorImageUrl }}" class="deflatedEarth">{{/if}}
	<hr class="bar">
	<div class="message">{{ longMsg }}</div>
</div>