<!-- IMAGE - teamup -->
<style>
#samplePage .bg {
    height: 600px;
    /* border: 10px solid #FF7F00; */
    padding: 20px;
}
#samplePage .links {
	background-color: white;
	display: inline-block;
	padding: 3px 8px;
	border-radius: 5px;
}
#samplePage .bg1 {
	background-color: red;
	color: white;
}
#samplePage .bg2 {
	background-color: yellow;
}
#samplePage .bg3 {
	background-color: green;
	color: white;
}
#samplePage .bg4 {
	background-color: blue;
	color: white;
}
#samplePage .bg5 {
	background-color: pink;
}
</style>
 <div id="samplePage" class="container">
 	<div id="page1" class="bg bg1">
 		<h2>Page 1</h2>
 		<p>
	 		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae leo a arcu luctus luctus vel id nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lacus non turpis vulputate lacinia. Fusce varius pellentesque dolor id gravida. Nam magna purus, imperdiet vitae lacus eu, dapibus fringilla enim. Sed ultrices sapien non sem lobortis bibendum. Nullam euismod libero feugiat enim volutpat, at tincidunt leo semper. Vivamus non elit vel mi venenatis elementum ut vel sapien. Vivamus enim augue, dapibus nec tempor in, iaculis vitae magna. Vivamus feugiat aliquam enim vel ullamcorper. Donec gravida eget massa a feugiat. Proin sit amet dolor bibendum, volutpat risus et, sodales nunc. Nulla lacinia arcu sit amet congue pellentesque. Phasellus eget congue lorem. Maecenas venenatis dui in vehicula dignissim. Mauris ornare aliquet mi, et tincidunt mauris tincidunt sed.
			Integer vestibulum magna libero, at ultrices nisi commodo vel. Vestibulum malesuada orci est, sit amet rhoncus mi molestie sed. Cras ac viverra leo. Morbi mollis enim libero, ut luctus metus gravida eget. Fusce et sagittis leo. Cras in dictum purus. Phasellus at mi eu nisl hendrerit tempus eget non urna. Nullam a velit nisi. Suspendisse potenti. Sed id tellus risus. Suspendisse potenti. Phasellus sagittis elementum lorem ac mollis.
			Morbi ligula felis, faucibus vel consectetur nec, lobortis sagittis sem. In feugiat risus id purus consectetur, et semper ante commodo. In eleifend tincidunt justo, in sagittis justo. Aliquam erat volutpat. Pellentesque tristique ipsum id tincidunt bibendum. Pellentesque sed ligula varius, tempor lorem sit amet, posuere nibh. Nulla facilisi. Proin tincidunt non nisi vel tempus. Sed vitae turpis vitae odio rutrum mollis sit amet sit amet eros. Nulla dapibus at dolor at efficitur. Integer non feugiat nunc. Curabitur gravida est eu justo pharetra bibendum quis eget ante. Praesent ornare fringilla quam eget interdum. Sed tristique arcu nec nunc interdum, ut pretium erat cursus.
			Nulla sit amet sollicitudin mauris. Mauris tempus accumsan urna eu tincidunt. Vestibulum dignissim consectetur hendrerit. Maecenas sed arcu vel mi convallis ultricies. Sed sed eros nec erat aliquet pretium. Fusce eleifend leo et purus condimentum, eget tempus elit facilisis. Aliquam nunc lacus, bibendum in metus vitae, pharetra volutpat augue.
		</p>
		<p class="links">
			<a href="#page1">Page 1</a> | <a href="#page2">Page 2</a> | <a href="#page3">Page 3</a> | <a href="#page4">Page 4</a> | <a href="#page5">Page 5</a>
		</p>
 	</div>
 	<div id="page2" class="bg bg2">
 		<h2>Page 2</h2>
 		<p>
	 		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae leo a arcu luctus luctus vel id nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lacus non turpis vulputate lacinia. Fusce varius pellentesque dolor id gravida. Nam magna purus, imperdiet vitae lacus eu, dapibus fringilla enim. Sed ultrices sapien non sem lobortis bibendum. Nullam euismod libero feugiat enim volutpat, at tincidunt leo semper. Vivamus non elit vel mi venenatis elementum ut vel sapien. Vivamus enim augue, dapibus nec tempor in, iaculis vitae magna. Vivamus feugiat aliquam enim vel ullamcorper. Donec gravida eget massa a feugiat. Proin sit amet dolor bibendum, volutpat risus et, sodales nunc. Nulla lacinia arcu sit amet congue pellentesque. Phasellus eget congue lorem. Maecenas venenatis dui in vehicula dignissim. Mauris ornare aliquet mi, et tincidunt mauris tincidunt sed.
			Integer vestibulum magna libero, at ultrices nisi commodo vel. Vestibulum malesuada orci est, sit amet rhoncus mi molestie sed. Cras ac viverra leo. Morbi mollis enim libero, ut luctus metus gravida eget. Fusce et sagittis leo. Cras in dictum purus. Phasellus at mi eu nisl hendrerit tempus eget non urna. Nullam a velit nisi. Suspendisse potenti. Sed id tellus risus. Suspendisse potenti. Phasellus sagittis elementum lorem ac mollis.
			Morbi ligula felis, faucibus vel consectetur nec, lobortis sagittis sem. In feugiat risus id purus consectetur, et semper ante commodo. In eleifend tincidunt justo, in sagittis justo. Aliquam erat volutpat. Pellentesque tristique ipsum id tincidunt bibendum. Pellentesque sed ligula varius, tempor lorem sit amet, posuere nibh. Nulla facilisi. Proin tincidunt non nisi vel tempus. Sed vitae turpis vitae odio rutrum mollis sit amet sit amet eros. Nulla dapibus at dolor at efficitur. Integer non feugiat nunc. Curabitur gravida est eu justo pharetra bibendum quis eget ante. Praesent ornare fringilla quam eget interdum. Sed tristique arcu nec nunc interdum, ut pretium erat cursus.
			Nulla sit amet sollicitudin mauris. Mauris tempus accumsan urna eu tincidunt. Vestibulum dignissim consectetur hendrerit. Maecenas sed arcu vel mi convallis ultricies. Sed sed eros nec erat aliquet pretium. Fusce eleifend leo et purus condimentum, eget tempus elit facilisis. Aliquam nunc lacus, bibendum in metus vitae, pharetra volutpat augue.
		</p>
		<p class="links">
			<a href="#page1">Page 1</a> | <a href="#page2">Page 2</a> | <a href="#page3">Page 3</a> | <a href="#page4">Page 4</a> | <a href="#page5">Page 5</a>
		</p>
 	</div>
 	<div id="page3" class="bg bg3">
 		<h2>Page 3</h2>
 		<p>
	 		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae leo a arcu luctus luctus vel id nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lacus non turpis vulputate lacinia. Fusce varius pellentesque dolor id gravida. Nam magna purus, imperdiet vitae lacus eu, dapibus fringilla enim. Sed ultrices sapien non sem lobortis bibendum. Nullam euismod libero feugiat enim volutpat, at tincidunt leo semper. Vivamus non elit vel mi venenatis elementum ut vel sapien. Vivamus enim augue, dapibus nec tempor in, iaculis vitae magna. Vivamus feugiat aliquam enim vel ullamcorper. Donec gravida eget massa a feugiat. Proin sit amet dolor bibendum, volutpat risus et, sodales nunc. Nulla lacinia arcu sit amet congue pellentesque. Phasellus eget congue lorem. Maecenas venenatis dui in vehicula dignissim. Mauris ornare aliquet mi, et tincidunt mauris tincidunt sed.
			Integer vestibulum magna libero, at ultrices nisi commodo vel. Vestibulum malesuada orci est, sit amet rhoncus mi molestie sed. Cras ac viverra leo. Morbi mollis enim libero, ut luctus metus gravida eget. Fusce et sagittis leo. Cras in dictum purus. Phasellus at mi eu nisl hendrerit tempus eget non urna. Nullam a velit nisi. Suspendisse potenti. Sed id tellus risus. Suspendisse potenti. Phasellus sagittis elementum lorem ac mollis.
			Morbi ligula felis, faucibus vel consectetur nec, lobortis sagittis sem. In feugiat risus id purus consectetur, et semper ante commodo. In eleifend tincidunt justo, in sagittis justo. Aliquam erat volutpat. Pellentesque tristique ipsum id tincidunt bibendum. Pellentesque sed ligula varius, tempor lorem sit amet, posuere nibh. Nulla facilisi. Proin tincidunt non nisi vel tempus. Sed vitae turpis vitae odio rutrum mollis sit amet sit amet eros. Nulla dapibus at dolor at efficitur. Integer non feugiat nunc. Curabitur gravida est eu justo pharetra bibendum quis eget ante. Praesent ornare fringilla quam eget interdum. Sed tristique arcu nec nunc interdum, ut pretium erat cursus.
			Nulla sit amet sollicitudin mauris. Mauris tempus accumsan urna eu tincidunt. Vestibulum dignissim consectetur hendrerit. Maecenas sed arcu vel mi convallis ultricies. Sed sed eros nec erat aliquet pretium. Fusce eleifend leo et purus condimentum, eget tempus elit facilisis. Aliquam nunc lacus, bibendum in metus vitae, pharetra volutpat augue.
		</p>
 		<p class="links">
			<a href="#page1">Page 1</a> | <a href="#page2">Page 2</a> | <a href="#page3">Page 3</a> | <a href="#page4">Page 4</a> | <a href="#page5">Page 5</a>
		</p>
 	</div>
 	<div id="page4" class="bg bg4">
 		<h2>Page 4</h2>
 		<p>
	 		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae leo a arcu luctus luctus vel id nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lacus non turpis vulputate lacinia. Fusce varius pellentesque dolor id gravida. Nam magna purus, imperdiet vitae lacus eu, dapibus fringilla enim. Sed ultrices sapien non sem lobortis bibendum. Nullam euismod libero feugiat enim volutpat, at tincidunt leo semper. Vivamus non elit vel mi venenatis elementum ut vel sapien. Vivamus enim augue, dapibus nec tempor in, iaculis vitae magna. Vivamus feugiat aliquam enim vel ullamcorper. Donec gravida eget massa a feugiat. Proin sit amet dolor bibendum, volutpat risus et, sodales nunc. Nulla lacinia arcu sit amet congue pellentesque. Phasellus eget congue lorem. Maecenas venenatis dui in vehicula dignissim. Mauris ornare aliquet mi, et tincidunt mauris tincidunt sed.
			Integer vestibulum magna libero, at ultrices nisi commodo vel. Vestibulum malesuada orci est, sit amet rhoncus mi molestie sed. Cras ac viverra leo. Morbi mollis enim libero, ut luctus metus gravida eget. Fusce et sagittis leo. Cras in dictum purus. Phasellus at mi eu nisl hendrerit tempus eget non urna. Nullam a velit nisi. Suspendisse potenti. Sed id tellus risus. Suspendisse potenti. Phasellus sagittis elementum lorem ac mollis.
			Morbi ligula felis, faucibus vel consectetur nec, lobortis sagittis sem. In feugiat risus id purus consectetur, et semper ante commodo. In eleifend tincidunt justo, in sagittis justo. Aliquam erat volutpat. Pellentesque tristique ipsum id tincidunt bibendum. Pellentesque sed ligula varius, tempor lorem sit amet, posuere nibh. Nulla facilisi. Proin tincidunt non nisi vel tempus. Sed vitae turpis vitae odio rutrum mollis sit amet sit amet eros. Nulla dapibus at dolor at efficitur. Integer non feugiat nunc. Curabitur gravida est eu justo pharetra bibendum quis eget ante. Praesent ornare fringilla quam eget interdum. Sed tristique arcu nec nunc interdum, ut pretium erat cursus.
			Nulla sit amet sollicitudin mauris. Mauris tempus accumsan urna eu tincidunt. Vestibulum dignissim consectetur hendrerit. Maecenas sed arcu vel mi convallis ultricies. Sed sed eros nec erat aliquet pretium. Fusce eleifend leo et purus condimentum, eget tempus elit facilisis. Aliquam nunc lacus, bibendum in metus vitae, pharetra volutpat augue.
		</p>
		<p class="links">
			<a href="#page1">Page 1</a> | <a href="#page2">Page 2</a> | <a href="#page3">Page 3</a> | <a href="#page4">Page 4</a> | <a href="#page5">Page 5</a>
		</p>
 	</div>
 	<div id="page5" class="bg bg5">
 		<h2>Page 5</h2>
 		<p>
	 		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce vitae leo a arcu luctus luctus vel id nisi. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec tincidunt lacus non turpis vulputate lacinia. Fusce varius pellentesque dolor id gravida. Nam magna purus, imperdiet vitae lacus eu, dapibus fringilla enim. Sed ultrices sapien non sem lobortis bibendum. Nullam euismod libero feugiat enim volutpat, at tincidunt leo semper. Vivamus non elit vel mi venenatis elementum ut vel sapien. Vivamus enim augue, dapibus nec tempor in, iaculis vitae magna. Vivamus feugiat aliquam enim vel ullamcorper. Donec gravida eget massa a feugiat. Proin sit amet dolor bibendum, volutpat risus et, sodales nunc. Nulla lacinia arcu sit amet congue pellentesque. Phasellus eget congue lorem. Maecenas venenatis dui in vehicula dignissim. Mauris ornare aliquet mi, et tincidunt mauris tincidunt sed.
			Integer vestibulum magna libero, at ultrices nisi commodo vel. Vestibulum malesuada orci est, sit amet rhoncus mi molestie sed. Cras ac viverra leo. Morbi mollis enim libero, ut luctus metus gravida eget. Fusce et sagittis leo. Cras in dictum purus. Phasellus at mi eu nisl hendrerit tempus eget non urna. Nullam a velit nisi. Suspendisse potenti. Sed id tellus risus. Suspendisse potenti. Phasellus sagittis elementum lorem ac mollis.
			Morbi ligula felis, faucibus vel consectetur nec, lobortis sagittis sem. In feugiat risus id purus consectetur, et semper ante commodo. In eleifend tincidunt justo, in sagittis justo. Aliquam erat volutpat. Pellentesque tristique ipsum id tincidunt bibendum. Pellentesque sed ligula varius, tempor lorem sit amet, posuere nibh. Nulla facilisi. Proin tincidunt non nisi vel tempus. Sed vitae turpis vitae odio rutrum mollis sit amet sit amet eros. Nulla dapibus at dolor at efficitur. Integer non feugiat nunc. Curabitur gravida est eu justo pharetra bibendum quis eget ante. Praesent ornare fringilla quam eget interdum. Sed tristique arcu nec nunc interdum, ut pretium erat cursus.
			Nulla sit amet sollicitudin mauris. Mauris tempus accumsan urna eu tincidunt. Vestibulum dignissim consectetur hendrerit. Maecenas sed arcu vel mi convallis ultricies. Sed sed eros nec erat aliquet pretium. Fusce eleifend leo et purus condimentum, eget tempus elit facilisis. Aliquam nunc lacus, bibendum in metus vitae, pharetra volutpat augue.
		</p>
		<p class="links">
			<a href="#page1">Page 1</a> | <a href="#page2">Page 2</a> | <a href="#page3">Page 3</a> | <a href="#page4">Page 4</a> | <a href="#page5">Page 5</a>
		</p>
 	</div>
</div>


