<form action="#" method="post" class="form-horizontal" id="loginForm">
	<div class="loginForm-userPwd">
		<h2><small>Sign In with username and password</small></h2>
		<p><input type="text" name="username" placeholder="username" /></p>
		<p><input type="password" name="password" placeholder="password" /></p>							    
		<button class="btn btn-default" id="loginButton">Login</button>&nbsp;&nbsp;<small class="text-error"></small>
	</div>
	<div class="loginForm-openId">
		<h2><small>Sign In with Openid</small></h2>
		<p>
			<a href="javascript://" id="loginOpenidButton">Openid</a>
		</p>
	</div>
</form>
