<div class="jobDetails">
	<h4>Job Info</h4>
	<dl class='dl-horizontal'>
		<dt>Process Name</dt><dd>{{ title }}</dd>
		{{#jobId}}<dt>Wps Job Id</dt><dd>{{ jobId }}</dd>{{/jobId}}
		<dt>Started at</dt><dd>{{simpleDate time }}</dd>
		{{#statusLocation}}<dt>Status/Result Location</dt><dd><a href="{{ statusLocation }}" target="_blank"><i class="icon-external-link"></i></a>&nbsp;</dd>{{/statusLocation}}
		<dt>Status</dt>
		<dd>
			{{#ifEquals status "PENDING" }}
				<span class="label label-warning">Pending</span>
			{{/ifEquals}}
			{{#ifEquals status "SUCCESS" }}
				<span class="label label-success">Success</span>
			{{/ifEquals}}
			{{#ifEquals status "ERROR" }}
				<span class="label label-important">Failed</span>
			{{/ifEquals}}
			{{#ifEquals status "RUNNING" }}
				<span class="label label-warning">Running</span>&nbsp;&nbsp;<i class="fa fa-cog fa-spin"></i>
			{{/ifEquals}}
		</dd>
		{{#ifEquals status "RUNNING" }}
			<div class="percentage">
				<br/>
				<small class="percents" style="float: left; margin-right: 5px;">{{ percent }}%</small>
				<div class="progress progress-striped active jobProgress" style="width:300px">
					{{#ifEquals percent "0"}}
						<div class="bar" style="width: 100%;opacity: 0.5;"> </div>
					{{/ifEquals}}
					{{#ifNotEquals percent "0"}}
						<div class="bar" style="width: {{ percent }}%;"> {{ percent }}</div>
					{{/ifNotEquals}}
			</div>
		{{/ifEquals}}
	</dl>
	<div class="jobResult">
		{{#ifEquals status "ERROR" }}
			<div class="alert alert-block alert-error"> 
				<button type='button' class='close' data-dismiss='alert'>&times;</button>
				<h4><i class='icon-exclamation-sign'></i> Exception</h4>
				{{ exceptionText }}
			</div>
			<div style='margin-top:20px' class="xmlResult">
				<h5>XML Result</h5>
				<!-- <a href='javascript://' class='btn btn-small showXmlResult'>Show the XML result</a> -->
				<div>
					<!-- <a href='#' class='btn btn-small showXmlResultBtn'>Show the XML result</a> -->
					<pre class="prettyprint">{{ xmlString }}</pre>
				</div>
			</div>
		{{/ifEquals}}
		{{#ifEquals status "SUCCESS" }}
			<div class="alert alert-block alert-success"> 
				<button type='button' class='close' data-dismiss='alert'>&times;</button>
				<h4><i class='icon-exclamation-sign'></i> Success</h4>
				The Job successful terminated.
			</div>
			<div style='margin-top:20px' class="xmlResult">
				<h5>XML Result</h5>
				<!-- <a href='javascript://' class='btn btn-small showXmlResult'>Show the XML result</a> -->
				<div>
					<!-- <a href='#' class='btn btn-small showXmlResultBtn'>Show the XML result</a> -->
					<pre class="prettyprint">{{ xmlString }}</pre>
				</div>
			</div>
		{{/ifEquals}}
	</div>
</div>
