
.news p {
	margin: 0px;
}

.news hr {
	margin-top: 10px;
	margin-bottom: 10px;
}

.newses.newses-min .newsContent {
	margin-top: 5px;
	font-size: 14px;
	font-weight: 300;
}

.newses-min .news .newsContent img {
	border: 1px solid #ddd;
	padding: 3px;
}

.newses-min .news .newsDate {
	font-size: 11px;
}