
/* TABLE */

#newsAdminPage .abstractColumn {
	width: 200px;
}

#newsAdminPage .title > span {
    font-size: 14px;
    color: gray;
}

#newsAdminPage .newsInfo>div {
    display: inline-block;
    margin-right: 12px;
    font-size: 10px;
}

#newsAdminPage .entity {
    border-bottom: 1px solid gray;
}

#newsAdminPage .newsInfo {
    margin-bottom: 6px;
    color: gray;
}

#newsAdminPage .note-editable.panel-body {
	height: 300px;
}

#newsAdminPage .form textarea[name="Abstract"] {
	height: 80px;
}

#newsAdminPage .form input[name="Date"] {
    width: 300px;
    display: inline-block;
}

#newsAdminPage .entity img.image{
	width: 100%;
	margin-bottom: 10px;
}

#newsAdminPage img.imageUrl-preview {
    max-height: 200px;
    margin-top: 10px;
    border: 1px solid gray;
}

#newsAdminPage div.no-img {
    width: 100%;
    background: #eee;
    height: 100px;
    margin-bottom: 10px;
    text-align: center;
    color: gray;
    padding: 38px;
    border: 1px solid #ddd;
}
