/*!
 * Terradue
 *
 * Designed by Ceras.
 */

.t2-enphasis {
  color: #8F966D;
  font-size: 2em;
  margin-right: 5px;
}

.welcomeArea, .whoWeAreArea, .locationsArea, .aboutArea, .peopleArea {
  padding: 20px;
}

.whoWeAreArea .areaTitle, .locationsArea .areaTitle, .peopleArea .areaTitle {
  margin: 0px -20px 0px -20px;
}


.peopleArea .description {
	font-size: 12px;
}



.peopleAreaItem {
	padding-bottom: 12px;
}

.photo, h4, h5 {
	width: 205px;
	text-align: center;
}

.photo {
	float: left;
	margin: 0px 7px 10px 0px;
	border-radius: 6px;
}


.social {
	margin: 5px 0px 0px 0px;
	padding: 20px 0px 0px 10px;
}

.tags {
	height: 150px;
}


.tags li {
	display: block;
	font-size: 11px;
	font-weight: 300;
	line-height: 12px;
	padding-top: 8px;
/*	font-size: 12px;
	font-weight: bold;*/
}
.tags li a {
	color: #149fcd;
}
.tags li a:hover {
	opacity: 0.6;
}

.peopleArea h4 {
	margin: 0px;
	font-size: 18px;
	font-variant: small-caps;
}

.peopleArea h5 {
	font-size: 13px;
	margin-top: 6px;
}

.social a:hover {
	opacity: 0.6
}

@media (min-width: 1200px) {
.photo, h4, h5 { width: 230px; }
}

@media (min-width: 768px) and (max-width: 979px) {
	.photo, h4, h5 { width: 148px; }
	.tags {
		height: 95px;
	}
	.tags li {
		font-size: 9px;
		padding-left: 131px;
	}
	
	.social {
		margin-top: 0px;
		padding-top: 0px;
		width: 60px;
		float: right;
	}
}

@media (max-width: 767px) {
	.peopleAreaItem {
		width: 300px;
		margin: auto;
	}
}

@media (max-width: 480px) {
	.peopleAreaItem {
	    width: 100%;
	}
	.photo {
		width: 65%;
	}
	.tags {
		height: 111px;
	}
}

/* quote */
blockquote {
	border: none;
	text-align: center;
	margin: 10px;
	text-align: justify;
}

blockquote > p {
	font-size: 17px;
}

.quotes {
	font-family: "Times New Roman";
	font-size: 30px;
	margin: 0px 5px 0px 3px;
}
