<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="DatabaseConnection" value="Server=localhost; Port=3306; User Id=root; Database=t2portal; Max Pool Size=200" />
    <add key="BaseUrl" value="http://127.0.0.1:8081" />
    <add key="UserClass" value="Terradue.Corporate.Controller.UserT2, Terradue.Corporate.Controller" />
    <add key="LocalContextClass" value="Terradue.Corporate.WebServer.Common.LocalContext, Terradue.Corporate.WebServer" />
    <add key="WebContextClass" value="Terradue.Corporate.WebServer.Common.WebContext, Terradue.Corporate.WebServer" />
        <add key="TerradueLogConfigurationFile" value="log4net.config" />
  </appSettings>
  <customErrors mode="Off" />
  <trace enabled="true" requestLimit="20" pageOutput="true" traceMode="SortByTime" localOnly="true" />
  <pages validateRequest="false" />
  <location path="t2api">
    <system.web>
      <httpRuntime requestValidationMode="2.0" executionTimeout="90" maxRequestLength="4096" useFullyQualifiedRedirectUrl="false" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="100" />
      <sessionState mode="InProc" timeout="60" cookieless="false">
      </sessionState>
      <httpHandlers>
        <add path="*" type="Terradue.Corporate.WebServer.Common.SessionHttpHandlerFactory" verb="*" />
      </httpHandlers>
    </system.web>
  </location>
   <system.net>
     <connectionManagement>
        <add address="*" maxconnection="144" />
     </connectionManagement>
    </system.net>
  <system.web>
    <httpHandlers>
      <add path="t2api*" type="ServiceStack.WebHost.Endpoints.ServiceStackHttpHandlerFactory, ServiceStack" verb="*" />
    </httpHandlers>
    <compilation>
      <assemblies>
      </assemblies>
    </compilation>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>